*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
button{
    background-color: rgb(223, 27, 27);
    border:none;
    width:100px;
    height:40px;
    border-radius: 7px;
    margin-left: 40px;
    margin-top: 30px;
}

a{
color:bisque;
text-decoration: none;
font-size: 16px;
}